{% extends 'base.html' %}
        {% block content %}
<main class="container py-5">
<section class="card card-body">
<div class="login">
La clave es, que sin importar la historia que cuentes, haz que tu cliente sea el héroe.
</div>
        <div class="row py-3">
        <a class="btn btn-secondary col px-2"  href="/createhotel">Crea un perfil empresarial para un hotel</a>
        </div>
        <div class="row py-1">

        <a class="btn btn-dark col px-2"  href="/createrest">Crea un perfil empresarial para un restaurante</a>
</div>

</section>
   </main>	
{% endblock %}

